$defaultFontFamily: 'Ubuntu', sans-serif;
$fontSize: 16px;
$bgColor: #EFEFEF;
$whiteBgColor:#fff;
$whiteColor:#fff;


$normalHeaderBg: rgba(44, 193, 133, 1);
$sidebarHeaderBg: rgba(44, 193, 133, 0.9);
$sidebarBg:rgba(58, 58, 58, 1);
$sidebarColor:#bebebe;
$iconColor: #525050;

$smallFontWeight: 300;
$mediumFontWeight: 500;
$boldFontWeight: 700;


$successColor: #27c24c;
$infoColor: #23b7e5;
$primaryColor: #7266ba;
$dangerColor: #f05050;
$warningColor: #fad733;
$darkColor: #3a3f51;